# Compiled junk
*.o
*.so
*.DS_Store
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user

# Quarto site
/.quarto/
_site/
assets/pub-resources/auto/